H2 {FONT-FAMILY:Ravie ; color:Chocolate} 
P {font-family:Cooper ; color:#008A24}
H1 {FONT-Family:Showcard Gothic ; color:Coral}
h3 {font-family:Curlz MT ; color:Violet}
h4 {font-family:Georgia ; color:#FF941F}
H5 {text-align:right ; font-family:Segoe Print}
